<footer class="page__footer">
  <div class="arrowup">
    <a href="#top"
      ><img src="./assets/images/ico-arrow.svg" alt="arrow up"
    /></a>
  </div>
  <nav class="footer__links">
    <ul class="nav__list">
      <li><a href="https://adalab.es">Articles</a></li>
      <li><a href="https://adalab.es">Books</a></li>
      <li><a href="https://adalab.es">Events</a></li>
      <li><a href="https://adalab.es">Reasons</a></li>
      <li><a href="https://adalab.es">Tips</a></li>
    </ul>
  </nav>
  <nav class="footer__links socialmedia">
    <ul class="nav__list">
      <li><a href="https://adalab.es">Twitter</a></li>
      <li><a href="https://adalab.es">Instagram</a></li>
      <li><a href="https://adalab.es">Mastodont.social</a></li>
    </ul>
  </nav>
  <div class="small">
    <small class="copy"> &copy; 2017 </small>
    <small class="love"
      >We
      <img
        class="icon"
        src="./assets/images/heart-solid.svg"
        alt="heart icon"
      />
      components
    </small>
  </div>
</footer>
