<header class="page__header" id="top">
  <nav class="header__menu--hamburger">
    <a href="https://adalab.es"
      ><img
        class="hamburger"
        src="./assets/images/ico-menu.svg"
        alt="hamburger menu"
    /></a>
  </nav>
  <h1 class="header__title">Anonymus proxy</h1>
  <p class="header__subtitle">Para flipar en colores</p>
  <div class="header__container--scroll">
    <a href="#3purch"
      ><img
        class="scroll"
        src="./assets/images/ico-scroll-down.svg"
        alt="scroll down icon"
      />
    </a>
  </div>
  <div class="hero"></div>
</header>
