<main>
  <section class="main__section--tips">
    <h6 class="section__name">Insomnia tips</h6>
    <h2 class="section__title--tips">Looking through a window</h2>
    <p class="section__text--tips">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias sint
      saepe repudiandae eaque mollitia! Delectus neque ipsum sunt dolores id?
      Cum atque doloremque animi vitae ab nesciunt nemo dicta expedita.
    </p>
    <a class="artice__link--tips" href="">Go</a>
  </section>
  <section class="main__section--purchase" id="3purch">
    <h2 class="section__title--purchase">3 Reasons to purchase</h2>
    <article class="section__article--purchase">
      <h4 class="article__title--purchase">Because you deserve it</h4>
      <p class="article__text--purchase">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum illum
        earum repudiandae libero veritatis exercitationem, officia amet nisi
        reprehenderit odio quasi a dolore laboriosam natus vel praesentium minus
        velit iusto.
      </p>
    </article>
    <article class="section__article--purchase">
      <h4 class="article__title--purchase">Because you deserve it</h4>
      <p class="article__text--purchase">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum illum
        earum repudiandae libero veritatis exercitationem, officia amet nisi
        reprehenderit odio quasi a dolore laboriosam natus vel praesentium minus
        velit iusto.
      </p>
    </article>
    <article class="section__article--purchase">
      <h4 class="article__title--purchase">Because you deserve it</h4>
      <p class="article__text--purchase">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum illum
        earum repudiandae libero veritatis exercitationem, officia amet nisi
        reprehenderit odio quasi a dolore laboriosam natus vel praesentium minus
        velit iusto.
      </p>
    </article>
    <button class="section__button--purchase">More reasons</button>
  </section>
</main>
