.page__header {
  width: 100%;
}

.header__menu--hamburger {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0271bc;
  padding: 14px 14px;
}
.hero {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: blue;
  color: white;
}
.header__title {
  min-width: 290px;
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  line-height: 55px;
  margin-bottom: 10px;
  font-family: $fontTitle;
}
.header__subtitle {
  font-size: 16px;
  width: 290px;
  text-align: center;
}
.header__container--scroll {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 53px;
  margin-top: 53px;
  text-align: center;
  line-height: 50px;
}
