.page__header {
  width: 100%;
  min-height: 100vh;
  background-color: royalblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  background-image: url("./assets/images/cover.jpg");
  background-repeat: no-repeat;
  width: 25%;
  background-size: cover;
}
.header__menu--hamburger {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0271bc;
  padding: 14px 14px;
}
