.main__section--tips {
  padding: 30px 15px 45px;
}
.section__name {
  font-size: 14px;
  color: #8ccbea;
  line-height: 30px;
}
.section__title--tips {
  min-width: 290px;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.section__text--tips {
  font-size: 18px;
  line-height: 30px;
  color: #4a4a4a;
  margin-bottom: 30px;
}
.article__link--tips {
  width: 76px;
  border: solid #f26002 2px;
  border-radius: 22px;
  text-decoration: none;
  color: #f26002;
  margin-bottom: 45px;
  padding: 10px 26px;
}
